/*-----[ icon font mixins ]-----------------------------------------------------
| Mixins for @font-face declarations for the various icon fonts, that don't
| require versions.
*/
// Elusive
@mixin el-font-no-version {
  @font-face {
    font-family: $el-name;
    src: url($el-path + $el-basename + ".eot");
    src: url($el-path + $el-basename + ".eot#iefix") format("embedded-opentype"),
         url($el-path + $el-basename + ".woff") format("woff"),
         url($el-path + $el-basename + ".ttf") format("truetype"),
         url($el-path + $el-basename + ".svg" + $el-svghash) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

// FontAwesome
@mixin fa-font-no-version {
  @font-face {
    font-family: $fa-name;
    src: url($fa-path + $fa-basename + ".eot");
    src: url($fa-path + $fa-basename + ".eot#iefix") format("embedded-opentype"),
         url($fa-path + $fa-basename + ".woff") format("woff"),
         url($fa-path + $fa-basename + ".ttf") format("truetype"),
         url($fa-path + $fa-basename + ".svg" + $fa-svghash) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

// Foundation icons - General
@mixin fig-font-no-version {
  @font-face {
    font-family: $fig-name;
    src: url($fig-path + $fig-basename + ".eot");
    src: url($fig-path + $fig-basename + ".eot#iefix") format("embedded-opentype"),
         url($fig-path + $fig-basename + ".woff") format("woff"),
         url($fig-path + $fig-basename + ".ttf") format("truetype"),
         url($fig-path + $fig-basename + ".svg" + $fig-svghash) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

// Ionicons
@mixin ion-font-no-version {
  @font-face {
    font-family: $ion-name;
    src: url($ion-path + $ion-basename + ".eot");
    src: url($ion-path + $ion-basename + ".eot#iefix") format("embedded-opentype"),
         url($ion-path + $ion-basename + ".woff") format("woff"),
         url($ion-path + $ion-basename + ".ttf") format("truetype"),
         url($ion-path + $ion-basename + ".svg" + $ion-svghash) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
